/* Note: Took reference on how to make a modal with CSS from 
https://www.w3schools.com/howto/howto_css_modals.asp */

html, body {
    margin: 0;
    height: 100%;
    background-color: #373737;
    font-size: 16px;
    color: #f2f2f3;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

#login-quickpic {
    z-index: 10;
    font-family: 'Gochi Hand', 'Arial', sans-serif;
    font-size: 100px;
    margin: 20px 0 30px;
    color: #0084FF;
    text-shadow: 27px 27px 54px #202020, -27px -27px 54px #383838;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.search {
    display: flex;
    width: 300px;
    min-width: 100px;
}

.search-box {
    padding: 6px;
    width: 150px;
    font-size: 16px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
}

.search-btn {
    padding: 10px 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: none;
    background: #0074E2;
    color: white;
    font-size: 16px;
}

.search-arrow {
    display: inline-block;
}

.search-btn:hover span {
    cursor: pointer;
    color: #000000;
    animation: swipe 0.5s infinite;
}

.search-btn:hover {
    background-color: #f38024;
}

.dropdown-search-bar {
    z-index: 101;
    position: absolute;
    right: 15px;
    top: 76px;
    border: 2px solid #000000;
    border-radius: 100px;
    width: auto;
}

.dropdown-search-icon {
    display: none;
    margin-left: auto;
    background-color: transparent;
    padding: 6px 10px;
    border: 2px solid #0074E2;
    border-radius: 10px;
    height: 45px;
}

.dropdown-search-icon:hover {
    background-color: #000000;
    border-color: #f38024;
    color: #f38024;
}

.dropdown-search-icon:hover svg {
    fill: #f38024;
}

.dropdown-search-icon>svg {
    width: 25px;
    height: auto;
    fill: #0074E2;
}

#page-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.banner {
    z-index: 100;
    position: sticky;
    top: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    min-height: 75px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.banner>h1:hover {
    color: #f38024;
    cursor: pointer;
}

.banner>h1 {
    font-size: 50px;
    font-family: 'Gochi Hand', 'Arial', sans-serif;
    margin: 0 20px;
    color: #0074E2;
}

.nav {
    list-style-type: none;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
    background-color: #0074E2;
    border: 2px solid #0074E2;
    padding: 2px 12px;
    border-radius: 100px;
    margin: 0 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

#logout-link {
    background-color: transparent;
    color: #0074E2;
    margin-right: 20px;
}

.nav-item:hover {
    cursor: pointer;
    color: #000000;
    background-color: #f38024;
    border-color: #f38024;
    animation: wobble 0.5s forwards ease-in-out;
}

.dropdown {
    display: none;
}

.hamburger {
    display: none;
    font-weight: bold;
    transform: rotate(90deg);
    padding: 5px 5px 9px 5px;
    width: 45px;
    color: #0074E2;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #0074E2;
    border-radius: 10px;
    margin: 0 20px 0 10px;
}

.hamburger:hover {
    background-color: #000000;
    border-color: #f38024;
    color: #f38024;
}

.dropdown-menu {
    z-index: 101;
    position: absolute;
    right: 20px;
    background-color: transparent;
    width: 120px;
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2;
    text-align: right;
}

.dropdown-menu>li {
    padding-right: 5px;
    background-color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #000000;
    color: #f2f2f3;
}

.dropdown-menu>li:hover {
    cursor: pointer;
    color: #000000;
    background-color: #f38024;
    border-color: #f38024;
}

#dd-logout-link {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#dd-logout-link:hover {
    cursor: pointer;
    color: #000000;
    background-color: #f2f2f3;
    border-color: #000000;
}

#logout-link:hover {
    background-color: #f2f2f3;
    border-color: #f2f2f3;
    color: #000000;
    animation: none;
}

.button-wrapper {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}

.login-form, .signup-form {
    border: 1px solid #0084FF;
    border-radius: 5px;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 20px;
    min-height: 150px;
    background: #1f1f1f;
    box-shadow: 27px 27px 54px #202020, -27px -27px 54px #383838;
    box-sizing: border-box;
}

.login-form>h2, .signup-form>h2 {
    margin: 0 0 10px 0;
}

.login-form {
    width: 20%;
    min-width: 280px;
    height: 220px;
    display: flex;
}

.signup-form {
    width: 30%;
    min-width: 280px;
    display: none;
    height: 340px;
}

#signup .button-wrapper, #login .button-wrapper {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.signup-form input, .login-form input {
    width: 100%;
    min-width: 200px;
    border: 1px solid #0074E2;
    border-radius: 100px;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.login-form button, .signup-form button {
    letter-spacing: 1.5px;
    font-size: 14px;
    background-color: #0074E2;
    border: 2px #0074E2 solid;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    margin: 0 10px;
    padding: 8px 15px;
    font-weight: bold;
}

.login-form button:hover, .signup-form button:hover {
    background-color: #306faa;
}

#go-to-signup, #go-to-login {
    background-color: transparent;
    color: #0084FF;
    border: 2px solid #0084FF;
}

#login-btn:hover, #signup-btn:hover {
    background-color: #f38024;
    color: #000000;
    animation: wobble 0.5s forwards ease-in-out;
}

#go-to-signup:hover, #go-to-login:hover {
    background-color: #000000;
}

#feed {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    box-sizing: border-box;
}

.edit-options {
    z-index: 1;
    margin: 10px auto 3px auto;
    display: flex;
    justify-content: flex-end;
    max-width: 550px;
    min-width: 280px;
    width: 60%;
    box-sizing: border-box;
}

.edit-options>button {
    color: #f2f2f3;
    background-color: #373737;
    margin: 0 1px;
    border: 1.5px solid #f2f2f3;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 14px;
}

.edit-options>button:hover {
    background-color: black;
}

.edit-options>button:disabled {
    background-color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
}

.edit-acc-modal, .edit-post-modal {
    border: 1px solid #000000;
    background-color: #2c2c2c;
    margin: auto;
    padding: 20px;
    width: 20%;
    min-width: 280px;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-acc-modal {
    min-width: 280px;
    text-align: center;
}

.edit-acc-modal input {
    font-size: 16px;
    border-radius: 100px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #0074E2;
}

.edit-acc-modal svg {
    fill: #f2f2f3;
}

.edit-acc-modal>h1, .edit-post-modal>h1 {
    display: inline-block;
    font-size: 20px;
}

.edit-post-modal textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 5px;
    box-sizing: border-box
}

.edit-post-modal {
    min-width: 350px;
    text-align: left;
    font-size: 14px;
}

.edit-post-modal .file-upload {
    margin: 5px 0;
    border: 1px solid #555a5e;
    display: block;
    padding: 5px;
}

.check-delete {
    margin: 10px 0;
    color: #FF7575;
    font-weight: bold;
}

.check-delete:checked {
    width: 20px;
    height: 20px;
}

#submit-edit, #submit-acc-edit, .submit-comment {
    border: none;
    background-color: #0074E2;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff
}

.submit-comment {
    float: right;
    padding: 5px 10px;
    margin: 5px;
    font-size: 12px
}

#submit-edit:hover, #submit-acc-edit:hover, .submit-comment:hover {
    background-color: #f38024;
    color: #000000
}

#submit-acc-edit {
    margin: 20px 10px 10px 10px;
    padding: 5px;
}

#submit-edit {
    padding: 5px 15px;
}

.close {
    color: #bdbdbd;
    font-size: 25px;
    font-weight: bold;
    margin: -20px -10px;
    text-align: right;
}

.close:hover {
    color: red;
    cursor: pointer;
}

#edit-acc-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#edit-acc-form input {
    width: 90%;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.cancel-edit {
    display: none;
}

.edit-this-post {
    width: 50px;
    margin: 3px -7px 3px auto;
    padding: 5px 10px;
    border-radius: 100px;
    border: 1.5px solid #000000;
    background-color: #f38024;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.edit-this-post:hover {
    background-color: #000000;
    color: #ffffff;
}

#settings-icon {
    width: 20px;
    height: auto;
}

.timestamp {
    color: #686f74;
    text-align: end;
    align-self: flex-end;
}

.full-profile {
    /* background: linear-gradient(145deg, #282828, #2f2f2f); */
    box-shadow: 27px 27px 54px #202020, -27px -27px 54px #383838;
    background-color: #494d50;
    height: 100%;
    width: 60%;
    min-width: 280px;
    border-radius: 5px;
    border: 1px black solid;
    max-width: 550px;
    padding: 0 2%;
    margin: 0 auto 80px auto;
    box-sizing: border-box;
}

.profile-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #abb2b8;
}

.profile-heading>h2, h3 {
    display: inline-block;
    align-self: baseline;
}

.profile-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.profile-action svg {
    width: 20px;
    height: auto;
    fill: #f2f2f3;
    vertical-align: middle;
    margin: -4px 0 0 2px;
}

.profile-action>a {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    align-self: center;
    line-height: 0;
}

.following-list {
    display: none;
    height: auto;
    max-height: 80px;
    overflow: auto;
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
    border-bottom: 1px solid #abb2b8;
    ;
}

.following-list ul {
    margin: 5px 20px;
    column-count: 4;
    padding: 5px;
}

.following-list li {
    list-style-type: square;
}

.following-list li:hover {
    cursor: pointer;
    font-weight: bolder;
    color: #80D4FF;
}

.follow-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-top: 1px solid #abb2b8;
    border-bottom: 1px solid #abb2b8;
    align-items: center;
}

.follow-info h4, .follow-info p {
    display: inline-block;
}

.following {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

.follow-info p {
    font-size: 16px;
}

#follow-btn {
    padding: 5px 10px;
    height: 50%;
    float: right;
    text-align: center;
    line-height: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border: none;
    background-color: #0074E2;
    border-radius: 100px;
}

#follow-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.following:hover {
    cursor: pointer;
    font-weight: bold;
    color: #80D4FF;
}

.user-history .likes-display {
    margin: 5px;
}

.user-history .timestamp {
    margin: 5px 0 2px 5px;
    font-size: 10px;
}

.history-content {
    color: black;
    display: flex;
    background-color: #f2f2f3;
    flex-direction: row;
    margin: 10px 0;
    box-sizing: border-box;
}

.history-img {
    flex: 2.4;
    box-sizing: border-box;
    margin: auto 0;
}

.history-img>img {
    width: 100%;
    height: auto;
    margin: auto 0;
    display: block;
}

.text-content {
    max-width: 85%;
    margin: 0 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.text-content>p {
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
    word-break: break-word;
}

.post {
    width: 400px;
    color: black;
    margin: 10px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #f2f2f3;
    border: #000000 solid 1px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    box-shadow: 5px 5px 16px rgba(27, 27, 27, 0.5), -5px -5px 16px rgba(37, 37, 37, 0.5);
    box-sizing: border-box;
}

.post-heading {
    display: flex;
    justify-content: space-between;
}

.author {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.author:hover {
    color: #014F98;
}

.post-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-img>img {
    width: 95%;
    height: auto;
}

.post-info {
    background-color: #f2f2f3;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.post-text {
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
}

.action {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: auto;
}

.comment-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4px;
    border: 1px solid rgba(1, 79, 152, 0.5);
    padding: 2px;
    box-sizing: border-box;
    font-size: 12px;
}

.commenter, .comment {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 0 4px;
}

.comment-time {
    min-width: 50px;
    max-width: 50px;
    font-size: 12px;
    padding: 2px;
    color: #ffffff;
    text-align: center;
    background-color: #014F98;
    margin-right: 4px;
}

.commenter {
    /* flex: 1; */
    margin: 0;
    font-weight: bold;
}

.comment {
    width: auto;
    overflow-wrap: break-word;
    overflow: hidden;
    box-sizing: border-box;
}

.likes-display, .likes-display>* {
    line-height: 1;
    margin: 0;
}

.likes-display {
    border: 1px dotted pink;
    max-height: 50px;
    overflow-y: auto;
    font-size: 14px;
    padding: 3px;
    margin-top: 8px;
}

.likes-display ul {
    padding: 2px;
    column-count: 3;
    font-size: 12px;
    list-style-type: none;
}

.likes-display ul li::before {
    content: "\2665";
    color: red;
    display: inline-block;
}

.comment-display {
    max-height: 200px;
    overflow-y: auto;
    flex-flow: column;
    align-items: flex-start;
    vertical-align: top;
}

.add-comment>svg {
    width: 18px;
    height: auto;
    display: inline-block;
}

.add-comment>svg:hover, .add-comment:hover {
    fill: #db6900;
    color: #db6900;
    font-weight: bold;
    cursor: pointer;
}

.likes-number, .add-comment, .comments-number {
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
}

.likes-number>a, .comments-number>a {
    line-height: 0;
}

.comments-number {
    margin: 0 10px 0 auto;
}

.comments-number>svg {
    display: inline-block;
    width: 16px;
}

.comments-number>svg:hover, .comments-number>a:hover + svg{
    fill: #0074E2;
    cursor: pointer;
    animation: bounce 0.8s infinite ease-in-out;
}

.comments-number:hover, .likes-number:hover {
    font-weight: bold;
    color: #0074E2;
}

.heart {
    display: inline-block;
    font-size: 23.5px;
    line-height: 1;
    padding: 0;
    border: none;
}

.heart:hover {
    color: #ff0400;
    cursor: pointer;
    animation: bounce 0.8s infinite ease-in-out;
}

.post .timestamp {
    margin: 5px 10px 2px 5px;
    font-size: 12px;
}

#post-form {
    margin: 10px auto;
    border: 1px solid #0074E2;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(145deg, #282828, #2f2f2f);
    box-shadow: 27px 27px 54px #202020, -27px -27px 54px #383838;
}

#post-form>h1, #post-form .file-upload {
    margin: 0 5px;
}

#post-form>textarea {
    resize: none;
    height: 75vh;
    width: 95vw;
    max-width: 400px;
    max-height: 400px;
}

#clear-post, #submit-post {
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 2px solid #0074E2;
    color: white;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
}

#clear-post {
    margin: 10px 5px 10px 10px;
    background-color: transparent;
    color: #0074E2;
}

#clear-post:hover {
    background-color: black;
}

#submit-post {
    background-color: #0074E2;
}

#submit-post:hover {
    background-color: #f38024;
    border: 3px solid #f38024;
    animation: wobble 0.5s forwards ease-in-out;
}

input[type="file"] {
    font-size: 10px;
}

.post-comment {
    box-sizing: border-box;
}

.comment-text {
    resize: none;
    height: 100px;
    width: 100%;
    min-width: 240px;
    max-height: 100px;
    box-sizing: border-box;
}

.history-content .comment-text {
    min-width: 200px;
}

@media screen and (max-width: 970px) {
    .nav, .nav>* {
        display: none;
    }
    .banner .dropdown {
        display: block;
    }
    .banner .hamburger {
        display: block;
    }
    .dropdown-search-icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .full-profile {
        width: 100vw;
    }
    .edit-options {
        max-width: none;
        min-width: none;
        width: 100%;
    }
    .search {
        display: none;
    }
    .history-img {
        max-width: 40%;
        max-height: 40%;
        flex: 1;
    }
}

@media screen and (max-width: 400px) {
    #login-quickpic {
        font-size: 80px;
    }
    #page-wrapper {
        width: 100vw;
    }
    #post-form {
        width: 100vw;
    }
    #post-form>textarea {
        width: 98vw;
    }
    .post {
        width: auto;
        min-width: 250px;
        margin: 0;
        box-shadow: none;
    }
}

@keyframes swipe {
    0%, 50%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(3px);
    }
}

@keyframes bounce {
    0%, 12.5%, 82.5% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes wobble {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.05);
    }
}