* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #373737;
    font-size: 16px;
    color: 	#f2f2f3;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}

#page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}


#main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main input {
    width: 15vw;
}

.banner {
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px;
    margin: 0; */
    background-color: #2c2c2c;
    min-height: 40px;
    border-bottom: 1px solid #404345;
    font-size: 20px;
    letter-spacing: 4px;
}

footer {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0;
    padding: 0;
    border-top: 1px solid #404345;
    background-color:#2c2c2c;
    max-height: 20px;
}

footer >p {
    margin: 0 5px;
    font-size: 16px;
    letter-spacing: 1px;
}

.banner > *, footer > * {
    margin: 10px 25px;
    font-family: 'Gochi Hand', 'Arial', sans-serif;
}

/* .nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
} */

.button-wrapper {
    display: flex;
    justify-content: end;
}

form {
    border: 1px solid #63b47c;
    /* border-top-color: rgb(100, 100, 100);
    border-left-color: rgb(100, 100, 100);
    border-right-color: black;
    border-bottom-color: black; */
    border-radius: 5px;
    /* border-width: 2px 3px 4px 2px;
    border-radius: 96% 8% 95% 7%/9% 98% 4% 95%; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width: 250px;
    background: linear-gradient(145deg, #282828, #2f2f2f);
    box-shadow:  27px 27px 54px #202020,  
                -27px -27px 54px #383838;
}

#login {
    height: 40vh;
    width: 30vw;
}

form >div {
    margin: 5px 0;
}

::placeholder {
    color: #7c838c;
}

form input {
    width: 100%;
    min-width: 200px;
    border: 1px solid #62b37c;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

form input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #75c38f;
}

form >.button-wrapper {
    width: 100%;
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
}

form button {
    letter-spacing: 1.5px;
    font-size: 14px;
    background-color: #62b37c;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    padding: 1vh 2vw;
}

#login-btn, #submit-btn {
    background-color: #f38024;
}
#login-btn:hover, #submit-btn:hover {
    background-color: #000000;
    cursor: pointer;
}
form button:hover {
    background-color: #3c6047;
    cursor: pointer;
}

#signup {
    display: none;
}

#feed {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
}

.profile-summary {
    background-color: #f2f2f3;
    color: black;
    padding: 0 20px;
    line-height: 1.4;
    display: none;
    margin: 10px;
    width: 350px;
    height: 180px;
    /* border: black solid; */
    /* border-width: 2px 3px 4px 2px;
    border-radius: 98% 6% 95% 7%/5% 98% 4% 95%; */
}
.profile-summary h3 {
    font-size: 20px;
    margin: 20px 10px 10px 10px;
}
.profile-summary h4 {
    font-size: 16px;
}
.profile-summary {
    font-size: 15px;
}
.profile-summary >button {
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-top: 30px;
    margin-left: 5px;
    padding: 10px;
}
.profile-s-info {
    display: flex;
    justify-content: space-between;
}
.profile-s-info >h4 {
    margin: 0 8px 0 auto;
}
.profile-s-info >p {
    margin: 0 auto 0 0;
}

.full-profile {
    background-color: #494d50;
    height: 100%;
    width: 60%;
    min-width: 280px;
    border-radius: 5px;
    border: 1px black solid;
    max-width: 550px;
    padding: 0 2%;
    margin: 20px auto;
}
.profile-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #abb2b8;
}
.profile-heading >h2, h3 {
    display: inline-block;
    align-self: baseline;
}
.profile-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.profile-action >a {
    display: inline-block;
    /* margin-left: auto; */
    font-size: 18px;
}
.follow-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-top: 1px solid #abb2b8;
    border-bottom: 1px solid #abb2b8;
}
.follow-info h4, p {
    display: inline-block;
}
.follow-info p {
    font-size: 20px;
}
#follow-btn {
    padding: 1.5vh 0.8vw;
    height: 50%;
    float: right;
    text-align: center;
    line-height: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background-color: #378ad3;
    border: 1px solid white;
    border-radius: 3px;
}
.history-content {
    display: flex;
    background-color: rgb(37, 37, 37);
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
}
.history-img {
    width: 100%;
    height: auto;
    min-width: 65px;
    min-height: 65px;
    flex: 33%;
    border: 1px solid black;
    border-radius: 5px;
}
.text-content {
    margin: 0 10px;
    flex: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}
.text-content >p {
    margin: 0;
    line-height: 1.4;
    font-size: 14px;
}


.post {
    width: 400px;
    color: black;
    margin: 10px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #f2f2f3;
    border: #000000 solid 1px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    box-shadow:  5px 5px 16px rgba(27, 27, 27, 0.5), 
             -5px -5px 16px rgba(37, 37, 37, 0.5);
}
.post-heading {
    display: flex;
    justify-content: space-between;
}
.post-heading h2 {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 0;
}
.post-heading h2:hover {
    cursor: pointer;
    color: #62b37c;
}

.post-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-img > img {
    width: 95%;
    height: auto;
    /* border: black solid;
    border-width: 2px 3px 4px 2px;
    border-radius: 98% 6% 95% 7%/5% 98% 4% 95%; */
}

.post-info {
    background-color: #f2f2f3;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
}

.post-text {
    margin: 0;
}

.stats {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.commenter, .comment {
    font-size: 14px;
}
.commenter {
    font-weight: bold;
}
.commenter:hover {
    cursor: pointer;
}
.comment-display {
    max-height: 60px;
    overflow-y: auto;
}

.likes-number {
    text-align: right;
    font-weight: bold;
}

.comments-number { 
    margin-right: auto;
}

.likes-number, .comments-number {
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
}
.comments-number:hover {
    cursor: pointer;
    font-weight: bold;
}
.heart{
    display: inline-block;
    font-size: 25px;
}
.heart:hover {
    color: #ff0400;
    cursor: pointer;
    animation: bounce 0.8s infinite ease-in-out;
}
@keyframes bounce {
    0%, 12.5%, 82.5% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.timestamp {
    color: #686f74;
    text-align: end;
    font-size: 10px;
    margin: 5px 5px 0 0;
}